<button id="{{ '%s_grid_bulk_action_%s'|format(grid.id, action.id) }}"
        class="dropdown-item js-bulk-action-submit-btn"
        type="button"
        data-form-url="{{ path(action.options.submit_route) }}"
        data-form-method="POST"
>
    {{ action.name }}
</button>