openapi: 3.1.0
info:
  title: MyParcel API
  summary: API that provides endpoints to integrate with the MyParcel platform.
  description: >-
    Allows MyParcel users to query delivery options, pickup & drop off locations with opening hours, register & trace
    shipments, print labels and more.
  termsOfService: https://www.myparcel.nl/algemene-voorwaarden
  contact:
    name: MyParcel Support
    url: https://developer.myparcel.nl/contact.html
    email: info@myparcel.nl
  version: '2026-04-16'
servers:
  - description: Production Environment
    url: https://api.myparcel.nl/
security:
  - bearer: []
  - apiKey: []
paths:
  /shipping_rules:
    summary: Shipping rules collection
    description: Manage the shipping rules of an account or its shops.
    get:
      tags:
        - shipping_rule
      summary: Get shipping rules
      description: >
        Return the shipping rules visible to the authenticated account. When `shop_ids[]` is supplied, the result is
        filtered to those shops.
      operationId: getShippingRules
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/shipping_rule_size'
        - $ref: '#/components/parameters/shipping_rule_shop_ids'
        - $ref: '#/components/parameters/shipping_rule_type'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rules_paginated'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - readShippingRules
        - apiKey:
            - readShippingRules
    post:
      tags:
        - shipping_rule
      summary: Create shipping rules
      description: Create one or more shipping rules in a single request.
      operationId: postShippingRules
      requestBody:
        $ref: '#/components/requestBodies/post_shipping_rules'
      responses:
        '201':
          $ref: '#/components/responses/shipping_rules'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - createShippingRules
        - apiKey:
            - createShippingRules
    put:
      tags:
        - shipping_rule
      summary: Replace shipping rules
      description: Replace one or more existing shipping rules.
      operationId: putShippingRules
      requestBody:
        $ref: '#/components/requestBodies/put_shipping_rules'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rules'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - updateShippingRules
        - apiKey:
            - updateShippingRules
    patch:
      tags:
        - shipping_rule
      summary: Partially update shipping rules
      description: Update one or more existing shipping rules in place.
      operationId: patchShippingRules
      requestBody:
        $ref: '#/components/requestBodies/patch_shipping_rules'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rules'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - updateShippingRules
        - apiKey:
            - updateShippingRules
    parameters:
      - $ref: '#/components/parameters/User-Agent'
  /shipping_rules/{shipping_rule_ids}:
    summary: Shipping rules by id
    get:
      tags:
        - shipping_rule
      summary: Get shipping rules by id
      description: >
        Retrieve one or more shipping rules by their numeric IDs. Multiple IDs can be supplied by separating them with
        `;`.
      operationId: getShippingRulesByIds
      parameters:
        - $ref: '#/components/parameters/shipping_rule_ids'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rules'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - readShippingRules
        - apiKey:
            - readShippingRules
    parameters:
      - $ref: '#/components/parameters/User-Agent'
  /shipping_rules/{shipping_rule_id}:
    summary: A single shipping rule
    delete:
      tags:
        - shipping_rule
      summary: Delete a shipping rule
      description: Delete a single shipping rule by id.
      operationId: deleteShippingRule
      parameters:
        - $ref: '#/components/parameters/shipping_rule_id'
      responses:
        '204':
          $ref: '#/components/responses/empty'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - deleteShippingRules
        - apiKey:
            - deleteShippingRules
    parameters:
      - $ref: '#/components/parameters/User-Agent'
  /shops/{shop_id}/shipping_rules:
    summary: Shipping rules for a single shop
    get:
      tags:
        - shipping_rule
      summary: Get shipping rules for a shop
      description: Return the shipping rules attached to a single shop.
      operationId: getShippingRulesByShop
      parameters:
        - $ref: '#/components/parameters/shipping_rule_shop_id'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/shipping_rule_size'
        - $ref: '#/components/parameters/shipping_rule_type'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rules_paginated'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - readShippingRules
        - apiKey:
            - readShippingRules
    parameters:
      - $ref: '#/components/parameters/User-Agent'
  /shops/{shop_id}/shipping_rules/implications:
    summary: Shipping rule implications for a shop
    get:
      tags:
        - shipping_rule
      summary: Get shipping rule implications for a shop
      description: >
        Resolve which implications (carrier, contract, shipment options, physical properties) apply to a shop given a
        criteria filter. Implications are derived from the shop's shipping rules with a fallback per region.
      operationId: getShippingRuleImplications
      parameters:
        - $ref: '#/components/parameters/shipping_rule_shop_id'
        - $ref: '#/components/parameters/shipping_rule_country'
        - $ref: '#/components/parameters/shipping_rule_region'
        - $ref: '#/components/parameters/shipping_rule_type'
      responses:
        '200':
          $ref: '#/components/responses/shipping_rule_implications'
        4XX:
          $ref: '#/components/responses/client_error'
        5XX:
          $ref: '#/components/responses/server_error'
      security:
        - bearer:
            - readShippingRules
        - apiKey:
            - readShippingRules
    parameters:
      - $ref: '#/components/parameters/User-Agent'
components:
  parameters:
    User-Agent:
      name: User-Agent
      in: header
      schema:
        type: string
        format: ^[^\s]+/[0-9\.]+(\s+[^/\s]+/[0-9\.]+)*$
      examples:
        MyFirstCms:
          description: Let's say you're using a CMS called 'My First CMS', its version is `3.0.0` and it runs on PHP `9.5.0`.
          value: 'User-Agent: MyFirstCMS/3.0.0 PHP/9.5.0'
      description: >-
        To give us insight into where requests come from and API documentation usage, you should send a `User-Agent`
        header with all your requests. This header should include information about your integration, the CMS/platform
        and the backend you are using.
    page:
      name: page
      in: query
      description: Request a specific page of the results, used for paginated results.
      schema:
        $ref: '#/components/schemas/common_parameters_page'
      examples:
        '--':
          value: null
        second:
          value: 2
          summary: Second page
    shipping_rule_country:
      name: country
      in: query
      description: |
        Filter implications by recipient country (ISO 3166-1 alpha-2, case-insensitive).
      schema:
        $ref: '#/components/schemas/_ref_types_cc'
      examples:
        '--':
          value: null
        NL:
          value: NL
          summary: Netherlands
        BE:
          value: BE
          summary: Belgium
    shipping_rule_id:
      name: shipping_rule_id
      in: path
      description: A single shipping rule ID.
      required: true
      schema:
        $ref: '#/components/schemas/common_parameters_bigid'
      examples:
        '--':
          value: null
        one:
          value: 1
          summary: A single ID
    shipping_rule_ids:
      name: shipping_rule_ids
      in: path
      description: One or more shipping rule IDs. Separate multiple IDs using `;`.
      required: true
      schema:
        $ref: '#/components/schemas/common_parameters_bigids'
      examples:
        '--':
          value: null
        one:
          value: 1
          summary: A single ID
        multiple:
          value: 1;2
          summary: Multiple IDs
    shipping_rule_region:
      name: region
      in: query
      description: Filter by criteria region.
      schema:
        $ref: '#/components/schemas/_ref_shipping_rules_region'
      examples:
        '--':
          value: null
        EU:
          value: EU
        ROW:
          value: ROW
        ALL:
          value: ALL
    shipping_rule_shop_id:
      name: shop_id
      in: path
      description: The shop the shipping rules belong to.
      required: true
      schema:
        $ref: '#/components/schemas/common_parameters_id'
      examples:
        '--':
          value: null
        one:
          value: 1
          summary: A single shop
    shipping_rule_shop_ids:
      name: shop_ids
      in: query
      description: Filter shipping rules by shop. Repeat the parameter for multiple shops.
      style: form
      explode: true
      schema:
        type: array
        minItems: 1
        items:
          $ref: '#/components/schemas/common_parameters_id'
      examples:
        '--':
          value: null
        one:
          value:
            - 1
          summary: A single shop
        many:
          value:
            - 1
            - 2
          summary: Multiple shops
    shipping_rule_size:
      name: size
      in: query
      description: Number of shipping rules returned per page. Maximum 500.
      schema:
        type: integer
        minimum: 1
        maximum: 500
      examples:
        '50':
          value: 50
        '100':
          value: 100
        '500':
          value: 500
          summary: Maximum
        '--':
          value: null
    shipping_rule_type:
      name: type
      in: query
      description: Filter by shipping rule type.
      schema:
        $ref: '#/components/schemas/_ref_shipping_rules_type'
      examples:
        '--':
          value: null
        standard:
          value: standard
        return:
          value: return
  responses:
    client_error:
      description: This response is given when the request contains bad syntax or cannot be fulfilled due to a client-side issue.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common_responses_user_error'
    empty:
      description: This response is given when the request is successful and the response is empty.
    server_error:
      description: This response is given when the server fails to fulfill a valid request due to a server-side issue.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common_responses_system_error'
    shipping_rule_implications:
      description: Implications resolved for a shop given a criteria filter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_responses_implications'
    shipping_rules:
      description: One or more shipping rules in a response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_responses_shipping_rules'
    shipping_rules_paginated:
      description: A page of shipping rules in a paginated response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_responses_shipping_rules_paginated'
  requestBodies:
    patch_shipping_rules:
      description: Partial update of one or more shipping rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_patch_shipping_rules'
      required: true
    post_shipping_rules:
      description: Create one or more shipping rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_post_shipping_rules'
      required: true
    put_shipping_rules:
      description: Replace one or more shipping rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/shipping_rules_put_shipping_rules'
      required: true
  schemas:
    _ref_shipment_options_delivery_type_all:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        delivery_type:
          type:
            - integer
            - 'null'
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - null
    _ref_shipment_options_delivery_type_delivery_date:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        delivery_date:
          type:
            - string
            - 'null'
          pattern: ([0-9]{4})-([0-9]{2})-([0-9]{2}) ([0-9]{2}):([0-9]{2}):([0-9]{2})
    _ref_shipment_options_insurance:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        insurance:
          $comment: insurance currency must be EUR because shipment carriers expect this
          $ref: '#/components/schemas/_ref_types_price_euro'
    _ref_shipment_options_insurance_max:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      allOf:
        - $ref: '#/components/schemas/_ref_shipment_options_insurance'
      properties:
        insurance:
          properties:
            amount:
              maximum: 2500000
    _ref_shipment_options_label_description:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        label_description:
          type: string
          maxLength: 45
    _ref_shipment_options_options:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        age_check:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        cash_on_delivery:
          $ref: '#/components/schemas/_ref_types_money'
        collect:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        cooled_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        drop_off_at_postal_point:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        extra_assurance:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        fresh_food:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        frozen:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        hide_sender:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        large_format:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        only_recipient:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        priority_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        receipt_code:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        return:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        same_day_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        saturday_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        signature:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        tracked:
          $ref: '#/components/schemas/_ref_types_int_boolean'
    _ref_shipment_options_package_type_all:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        package_type:
          $ref: '#/components/schemas/_ref_shipment_package_type'
    _ref_shipment_package_type:
      $schema: http://json-schema.org/draft-04/schema#
      title: _ref.shipment.PackageType
      description: Package Type.
      type: integer
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      oneOf:
        - enum:
            - 1
          title: Package
          description: |
            Regular package.
        - enum:
            - 2
          title: Mailbox
          description: |
            Shipment that fits through a mailbox slot.
        - enum:
            - 3
          title: Unfranked
          description: |
            The label is unpaid meaning that you will need to pay when dropping off the letter/package.
        - enum:
            - 4
          title: DigitalStamp
          description: |
            Digital Stamp
        - enum:
            - 5
          title: Pallet
          description: |
            Pallet
        - enum:
            - 6
          title: SmallPackage
          description: |
            Small Package
        - enum:
            - 7
          title: Envelope
          description: |
            Small and light shipment that fits through a mailbox slot.
      x-enum-varnames:
        - Package
        - Mailbox
        - Unfranked
        - DigitalStamp
        - Pallet
        - SmallPackage
        - Envelope
      x-enum-descriptions:
        - Regular package.
        - Shipment that fits through a mailbox slot.
        - The label is unpaid meaning that you will need to pay when dropping off the letter/package.
        - Digital Stamp
        - Pallet
        - Small Package
        - Small and light shipment that fits through a mailbox slot.
    _ref_shipment_shipment_options:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      allOf:
        - $ref: '#/components/schemas/_ref_shipment_options_insurance_max'
        - $ref: '#/components/schemas/_ref_shipment_options_options'
        - $ref: '#/components/schemas/_ref_shipment_options_package_type_all'
        - $ref: '#/components/schemas/_ref_shipment_options_delivery_type_all'
        - $ref: '#/components/schemas/_ref_shipment_options_delivery_type_delivery_date'
        - $ref: '#/components/schemas/_ref_shipment_options_label_description'
    _ref_shipping_rules_criteria:
      $schema: http://json-schema.org/draft-04/schema#
      description: Criteria that determine when a shipping rule applies. Matched against the destination of an incoming shipment.
      type: object
      additionalProperties: false
      required:
        - country
        - region
        - type
      properties:
        country:
          description: ISO 3166-1 alpha-2 country code. Null when the rule applies to shipments regardless of destination country.
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/_ref_types_cc'
        region:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/_ref_shipping_rules_region'
        type:
          $ref: '#/components/schemas/_ref_shipping_rules_type'
    _ref_shipping_rules_currency_amount:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        A monetary amount with its currency. Null when no amount applies; otherwise an object with the amount and
        currency fields, each independently nullable.
      oneOf:
        - type: 'null'
        - type: object
          additionalProperties: false
          required:
            - amount
            - currency
          properties:
            amount:
              type:
                - 'null'
                - integer
              minimum: 0
            currency:
              type:
                - 'null'
                - string
    _ref_shipping_rules_implications:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        Implications applied to a shipment that matches a shipping rule, extended with a reference to the originating
        rule.
      allOf:
        - $ref: '#/components/schemas/_ref_shipping_rules_implications_base'
        - type: object
          additionalProperties: false
          required:
            - shipping_rule_id
          properties:
            shipping_rule_id:
              description: >-
                Identifier of the shipping rule that produced these implications. Null when the implications come from a
                fallback resolution and no specific rule applied.
              type:
                - 'null'
                - integer
              minimum: 1
              maximum: 9223372036854775807
    _ref_shipping_rules_implications_base:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        Implications applied to a shipment that matches a shipping rule — which carrier and contract handle it, which
        shipment options are forced, and any physical-property defaults.
      type: object
      additionalProperties: false
      required:
        - carrier_id
        - contract_id
        - shipment_options
        - physical_properties
      properties:
        carrier_id:
          $ref: '#/components/schemas/_ref_types_carrier'
        contract_id:
          description: Identifier of the carrier contract to use. Null when no specific contract is forced.
          type:
            - 'null'
            - integer
        shipment_options:
          $ref: '#/components/schemas/_ref_shipping_rules_shipment_options'
        physical_properties:
          $ref: '#/components/schemas/_ref_shipping_rules_physical_properties'
    _ref_shipping_rules_physical_properties:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        Physical-property defaults applied to a shipment that matches a shipping rule. Each dimension is optional; the
        object may be empty.
      type: object
      additionalProperties: false
      properties:
        weight:
          type: integer
          minimum: 0
          maximum: 999999999
        width:
          type: integer
          minimum: 0
          maximum: 999999999
        height:
          type: integer
          minimum: 0
          maximum: 999999999
        length:
          type: integer
          minimum: 0
          maximum: 999999999
    _ref_shipping_rules_region:
      $schema: http://json-schema.org/draft-04/schema#
      title: _ref.shipping_rules.Region
      description: >-
        Geographic region a shipping rule applies to. Use `ALL` to match any region; `EU` for the EU fiscal union; `ROW`
        for the rest of the world.
      type: string
      enum:
        - EU
        - ROW
        - ALL
      x-enum-varnames:
        - Eu
        - Row
        - All
      x-enum-descriptions:
        - European Union (EU fiscal union)
        - Rest of the World
        - Any region
    _ref_shipping_rules_shipment_options:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        Shipment options forced on a shipment that matches a shipping rule. Only keys with an explicit value appear; the
        object may be empty.
      type: object
      additionalProperties: false
      properties:
        age_check:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        collect:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        cooled_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        drop_off_at_postal_point:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        extra_assurance:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        fresh_food:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        frozen:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        hide_sender:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        large_format:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        off_peak_discount:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        only_recipient:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        printerless_return:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        priority_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        receipt_code:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        return:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        same_day_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        saturday_delivery:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        signature:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        tracked:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        contribution:
          $ref: '#/components/schemas/_ref_shipping_rules_currency_amount'
        insurance:
          $ref: '#/components/schemas/_ref_shipping_rules_currency_amount'
        label_description:
          description: Free-form text to print on the shipment label.
          type:
            - 'null'
            - string
        package_type:
          $ref: '#/components/schemas/_ref_shipment_package_type'
    _ref_shipping_rules_shipping_rule:
      $schema: http://json-schema.org/draft-04/schema#
      description: >-
        A shipping rule attached to a shop. Defines a set of criteria (country, region, type) and the resulting
        implications (carrier, contract, shipment options, physical properties) that apply to shipments matching those
        criteria.
      type: object
      additionalProperties: false
      required:
        - id
        - account_id
        - shop_id
        - active
        - criteria
        - implications
        - created
      properties:
        id:
          description: Unique identifier of the shipping rule. Null on rules that have not yet been persisted.
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/common_parameters_bigid'
        account_id:
          $ref: '#/components/schemas/account_defs_account_properties_id'
        shop_id:
          $ref: '#/components/schemas/account_defs_shop_properties_id'
        active:
          $ref: '#/components/schemas/_ref_types_int_boolean'
        criteria:
          $ref: '#/components/schemas/_ref_shipping_rules_criteria'
        implications:
          $ref: '#/components/schemas/_ref_shipping_rules_implications'
        created:
          description: Creation timestamp in 'YYYY-MM-DD HH:MM:SS' format. Null when no creation time is available.
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/common_defs_date_and_time'
    _ref_shipping_rules_type:
      $schema: http://json-schema.org/draft-04/schema#
      title: _ref.shipping_rules.RuleType
      description: The type of shipping rule — applies either to outbound shipments or return shipments.
      type: string
      enum:
        - standard
        - return
      x-enum-varnames:
        - Standard
        - Return
      x-enum-descriptions:
        - Applies to outbound shipments
        - Applies to return shipments
    _ref_types_carrier:
      $schema: http://json-schema.org/draft-04/schema#
      title: _ref.types.Carrier
      description: This enumeration represents the Carriers. The value is the Carrier id.
      type: integer
      format: int32
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        - 13
        - 14
        - 15
        - 16
        - 17
        - 18
        - 19
      oneOf:
        - description: PostNL
          title: Postnl
          enum:
            - 1
        - description: bpost
          title: Bpost
          enum:
            - 2
        - description: Cheap Cargo
          title: CheapCargo
          enum:
            - 3
        - description: DPD
          title: Dpd
          enum:
            - 4
        - description: Instabox
          title: Instabox
          enum:
            - 5
        - description: DHL
          title: DhlCheapCargo
          enum:
            - 6
        - description: Bol.com
          title: Bol
          enum:
            - 7
        - description: UPS
          title: Ups
          enum:
            - 8
        - description: DHL For You
          title: DhlForYou
          enum:
            - 9
        - description: DHL Parcel Connect
          title: DhlParcelConnect
          enum:
            - 10
        - description: DHL Europlus
          title: DhlEuroplus
          enum:
            - 11
        - description: UPS Standard
          title: UpsStandard
          enum:
            - 12
        - description: UPS Express Saver
          title: UpsExpressSaver
          enum:
            - 13
        - description: GLS
          title: Gls
          enum:
            - 14
        - description: BRT
          title: Brt
          enum:
            - 15
        - description: Trunkrs
          title: Trunkrs
          enum:
            - 16
        - description: InPost
          title: Inpost
          enum:
            - 17
        - description: PosteItaliane
          title: PosteItaliane
          enum:
            - 18
        - description: Spring
          title: Spring
          enum:
            - 19
      x-enum-varnames:
        - Postnl
        - Bpost
        - CheapCargo
        - Dpd
        - Instabox
        - DhlCheapCargo
        - Bol
        - Ups
        - DhlForYou
        - DhlParcelConnect
        - DhlEuroplus
        - UpsStandard
        - UpsExpressSaver
        - Gls
        - Brt
        - Trunkrs
        - Inpost
        - PosteItaliane
        - Spring
      x-enum-descriptions:
        - PostNL
        - bpost
        - Cheap Cargo
        - DPD
        - Instabox
        - DHL
        - Bol.com
        - UPS
        - DHL For You
        - DHL Parcel Connect
        - DHL Europlus
        - UPS Standard
        - UPS Express Saver
        - GLS
        - BRT
        - Trunkrs
        - InPost
        - PosteItaliane
        - Spring
    _ref_types_cc:
      $schema: http://json-schema.org/draft-04/schema#
      type: string
      maxLength: 2
      minLength: 2
      pattern: ^[A-Za-z]{2}$
    _ref_types_int_boolean:
      $schema: http://json-schema.org/draft-04/schema#
      title: _ref.types.IntBoolean
      type: number
      enum:
        - 0
        - 1
      x-enum-varnames:
        - 'False'
        - 'True'
    _ref_types_money:
      $schema: http://json-schema.org/draft-04/schema#
      title: Money
      description: Money amount with currency
      type: object
      required:
        - currency
        - amount
      additionalProperties: false
      properties:
        currency:
          description: The currency as uppercase 3-letter ISO 4217 code.
          type: string
          enum:
            - ''
            - EUR
        amount:
          description: The amount in the lowest denomination of the currency, e.g. cents for EUR.
          oneOf:
            - type: integer
              minimum: 0
            - type:
                - string
              pattern: \d*
    _ref_types_price_euro:
      $schema: http://json-schema.org/draft-04/schema#
      title: Price with EUR-currency and amount
      type: object
      additionalProperties: false
      required:
        - amount
        - currency
      properties:
        currency:
          type: string
          enum:
            - EUR
        amount:
          minimum: 0
          type: integer
    account_defs_account_properties_id:
      title: Account ID
      type: integer
      format: int32
      $schema: http://json-schema.org/draft-04/schema#
    account_defs_shop_properties_id:
      title: Shop ID
      type: integer
      format: int32
      $schema: http://json-schema.org/draft-04/schema#
    common_defs_date_and_time:
      $schema: http://json-schema.org/draft-04/schema#
      title: common.defs.DateAndTime
      description: |
        Represents a date in ISO 8601 format and a time in ISO 8601 format, separated
        by a space, so:

        ```
        YYYY-MM-DD hh:mm:ss.u
        ```

        Where:
          - `YYYY` represents a four-digit year, `0000` through `9999`
          - `MM` represents a zero-padded month of the year, `01` through `12`
          - `DD` represents a zero-padded day of that month, `01` through `31`
        and:
          - `hh` represents a zero-padded hour, `00` through `24`
          - `mm` represents a zero-padded minute, `00` through `59`
          - `ss` (optional) represents a zero-padded second, `00` through `60`
            (where `60` is only used to denote an added leap second)
          - `.u` (optional) represents a fraction of a second, `.0` through `.999999+`
      type: string
      pattern: \d{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2]\d|3[0-1]) ([0-1]\d|2[0-4]):[0-5]\d(:([0-5]\d|60)(.\d+)?)?
    common_error_system:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        status:
          $ref: '#/components/schemas/common_http_status_code_5xx_server_error'
        code:
          type: integer
        title:
          type: string
        message:
          type: string
    common_error_user:
      $schema: http://json-schema.org/draft-04/schema#
      type: object
      properties:
        status:
          $ref: '#/components/schemas/common_http_status_code_4xx_client_error'
        code:
          $ref: '#/components/schemas/common_error_user_code'
        title:
          type: string
        message:
          type: string
    common_error_user_code:
      $schema: http://json-schema.org/draft-04/schema#
      anyOf:
        - $ref: '#/components/schemas/common_error_user_code_auth'
        - type: integer
    common_error_user_code_auth:
      $schema: http://json-schema.org/draft-04/schema#
      title: common.error.user.code.Auth
      description: Authentication and Authorization related error codes
      type: integer
      enum:
        - 3000
        - 3001
        - 3002
        - 3003
        - 3004
        - 3005
        - 3006
        - 3007
      oneOf:
        - enum:
            - 3000
          title: AccessDenied
          description: Access Denied
        - enum:
            - 3001
          title: PermissionDenied
          description: Permission Denied
        - enum:
            - 3002
          title: SessionTokenNotFound
          description: Session Token Not Found
        - enum:
            - 3003
          title: LastLoginAttemptFailed
          description: Last login attempt failed
        - enum:
            - 3004
          title: MaxLoginAttemptsReached
          description: Max login attempts reached
        - enum:
            - 3005
          title: SessionTokenInvalidated
          description: Session Token Invalidated
        - enum:
            - 3006
          title: InvalidJwtToken
          description: Invalid JWT Token
        - enum:
            - 3007
          title: UserNotFoundInAuthcontext
          description: User Not Found in Auth Context
      x-enum-varnames:
        - AccessDenied
        - PermissionDenied
        - SessionTokenNotFound
        - LastLoginAttemptFailed
        - MaxLoginAttemptsReached
        - SessionTokenInvalidated
        - InvalidJwtToken
        - UserNotFoundInAuthcontext
      x-enum-descriptions:
        - Access Denied
        - Permission Denied
        - Session Token Not Found
        - Last login attempt failed
        - Max login attempts reached
        - Session Token Invalidated
        - Invalid JWT Token
        - User Not Found in Auth Context
    common_http_status_code_4xx_client_error:
      $schema: http://json-schema.org/draft-04/schema#
      title: Response Status Code - 4xx (Client Error)
      description: The request contains bad syntax or cannot be fulfilled
      type: integer
      minimum: 400
      maximum: 499
    common_http_status_code_5xx_server_error:
      $schema: http://json-schema.org/draft-04/schema#
      title: Response Status Code - 5xx (Server Error)
      description: The server failed to fulfill an apparently valid request
      type: integer
      minimum: 500
      maximum: 599
    common_parameters_bigid:
      $schema: http://json-schema.org/draft-04/schema#
      title: common.parameters.BigId
      type: integer
      format: int64
      minimum: 1
      maximum: 9223372036854775807
    common_parameters_bigids:
      $schema: http://json-schema.org/draft-04/schema#
      title: common.parameters.BigIds
      type:
        - integer
        - string
      anyOf:
        - $ref: '#/components/schemas/common_parameters_bigid'
        - type: string
          pattern: ^;*[1-9][0-9]{0,18}(;([1-9][0-9]{0,18}|[a-zA-Z]+)?)*$
    common_parameters_id:
      $schema: http://json-schema.org/draft-04/schema#
      title: id
      type: integer
      format: int32
      minimum: 1
      maximum: 2147483647
    common_parameters_page:
      $schema: http://json-schema.org/draft-04/schema#
      title: page
      description: Request a specific page of the results, used for paginated results.
      type: integer
      minimum: 1
      maximum: 1000
    common_parameters_size:
      $schema: http://json-schema.org/draft-04/schema#
      title: size
      description: Specify the number of resources returned per page, used for paginated results.
      type: integer
      minimum: 1
      maximum: 10000
    common_responses_system_error:
      $schema: http://json-schema.org/draft-04/schema#
      title: System Error
      type: object
      properties:
        message:
          type: string
          description: A human-readable description of the error.
        request_id:
          type: string
          description: Internal request ID, useful for debugging purposes.
        status_code:
          $ref: '#/components/schemas/common_http_status_code_5xx_server_error'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/common_error_system'
    common_responses_user_error:
      $schema: http://json-schema.org/draft-04/schema#
      title: User Error
      type: object
      required:
        - message
        - request_id
        - status_code
        - errors
      additionalProperties: false
      properties:
        message:
          type: string
        request_id:
          type: string
          description: Internal request ID, useful for debugging purposes.
        status_code:
          $ref: '#/components/schemas/common_http_status_code_4xx_client_error'
        errors:
          type:
            - array
            - object
          items:
            $ref: '#/components/schemas/common_error_user'
          additionalProperties:
            $ref: '#/components/schemas/common_error_user'
    shipping_rules_patch_shipping_rules:
      $schema: http://json-schema.org/draft-04/schema#
      title: Patch shipping rules
      type: object
      required:
        - data
      additionalProperties: false
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - shipping_rules
          properties:
            shipping_rules:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - id
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  account_id:
                    type: integer
                  shop_id:
                    type: integer
                  active:
                    $ref: '#/components/schemas/_ref_types_int_boolean'
                  criteria:
                    type: object
                    additionalProperties: false
                    properties:
                      country:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_types_cc'
                          - type: 'null'
                      region:
                        oneOf:
                          - type: 'null'
                          - $ref: '#/components/schemas/_ref_shipping_rules_region'
                      type:
                        $ref: '#/components/schemas/_ref_shipping_rules_type'
                  implications:
                    type: object
                    additionalProperties: false
                    properties:
                      carrier_id:
                        $ref: '#/components/schemas/_ref_types_carrier'
                      contract_id:
                        type:
                          - integer
                          - 'null'
                      shipment_options:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_shipment_shipment_options'
                          - type: 'null'
                      physical_properties:
                        type: object
                        additionalProperties: false
                        properties:
                          weight:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          height:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          width:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          length:
                            type: integer
                            minimum: 0
                            maximum: 999999999
    shipping_rules_post_shipping_rules:
      $schema: http://json-schema.org/draft-04/schema#
      title: Create shipping rules
      type: object
      required:
        - data
      additionalProperties: false
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - shipping_rules
          properties:
            shipping_rules:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - account_id
                  - shop_id
                  - active
                  - criteria
                  - implications
                additionalProperties: false
                properties:
                  account_id:
                    type: integer
                  shop_id:
                    type: integer
                  active:
                    $ref: '#/components/schemas/_ref_types_int_boolean'
                  criteria:
                    type: object
                    additionalProperties: false
                    properties:
                      country:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_types_cc'
                          - type: 'null'
                      region:
                        oneOf:
                          - type: 'null'
                          - $ref: '#/components/schemas/_ref_shipping_rules_region'
                      type:
                        $ref: '#/components/schemas/_ref_shipping_rules_type'
                  implications:
                    type: object
                    additionalProperties: false
                    required:
                      - carrier_id
                    properties:
                      carrier_id:
                        $ref: '#/components/schemas/_ref_types_carrier'
                      contract_id:
                        type:
                          - integer
                          - 'null'
                      shipment_options:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_shipment_shipment_options'
                          - type: 'null'
                      physical_properties:
                        type: object
                        additionalProperties: false
                        properties:
                          weight:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          height:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          width:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          length:
                            type: integer
                            minimum: 0
                            maximum: 999999999
    shipping_rules_put_shipping_rules:
      $schema: http://json-schema.org/draft-04/schema#
      title: Update shipping rules
      type: object
      required:
        - data
      additionalProperties: false
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - shipping_rules
          properties:
            shipping_rules:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - id
                  - account_id
                  - shop_id
                  - active
                  - criteria
                  - implications
                additionalProperties: false
                properties:
                  id:
                    type: integer
                  account_id:
                    type: integer
                  shop_id:
                    type: integer
                  active:
                    $ref: '#/components/schemas/_ref_types_int_boolean'
                  criteria:
                    type: object
                    additionalProperties: false
                    properties:
                      country:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_types_cc'
                          - type: 'null'
                      region:
                        oneOf:
                          - type: 'null'
                          - $ref: '#/components/schemas/_ref_shipping_rules_region'
                      type:
                        $ref: '#/components/schemas/_ref_shipping_rules_type'
                  implications:
                    type: object
                    additionalProperties: false
                    required:
                      - carrier_id
                    properties:
                      carrier_id:
                        $ref: '#/components/schemas/_ref_types_carrier'
                      contract_id:
                        type:
                          - integer
                          - 'null'
                      shipment_options:
                        anyOf:
                          - $ref: '#/components/schemas/_ref_shipment_shipment_options'
                          - type: 'null'
                      physical_properties:
                        type: object
                        additionalProperties: false
                        properties:
                          weight:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          height:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          width:
                            type: integer
                            minimum: 0
                            maximum: 999999999
                          length:
                            type: integer
                            minimum: 0
                            maximum: 999999999
    shipping_rules_responses_implications:
      $schema: http://json-schema.org/draft-04/schema#
      description: Response envelope wrapping the implications that apply to a shop for a given criteria filter.
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - implications
          properties:
            implications:
              type: array
              items:
                $ref: '#/components/schemas/_ref_shipping_rules_implications'
    shipping_rules_responses_shipping_rules:
      $schema: http://json-schema.org/draft-04/schema#
      description: Response envelope wrapping a list of shipping rules.
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - shipping_rules
          properties:
            shipping_rules:
              type: array
              items:
                $ref: '#/components/schemas/_ref_shipping_rules_shipping_rule'
    shipping_rules_responses_shipping_rules_paginated:
      $schema: http://json-schema.org/draft-04/schema#
      description: Paginated response envelope wrapping a page of shipping rules.
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - shipping_rules
            - results
            - page
            - size
          properties:
            shipping_rules:
              type: array
              items:
                $ref: '#/components/schemas/_ref_shipping_rules_shipping_rule'
            results:
              description: Total number of shipping rules matching the request across all pages.
              type: integer
              minimum: 0
            page:
              $ref: '#/components/schemas/common_parameters_page'
            size:
              $ref: '#/components/schemas/common_parameters_size'
  securitySchemes:
    bearer:
      type: http
      description: A base64 encoded API key, which you can generate in the Backoffice.
      scheme: bearer
    apiKey:
      type: apiKey
      description: |
        An Authorization header with a base64 encoded API key.
        ```
        Basic BASE64_ENCODED_API_KEY
        ```

        An API key can be generated in the Backoffice.
      name: Authorization
      in: header
      scheme: basic
tags:
  - name: shipping_rule
    description: Shipping rule related endpoints.
