.env
*.env
*.DS_Store
*.patch
*.cache
coverage.xml

coverage
vendor
node_modules
composer.lock

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
