# volumes are not in common, because phpstorm doesn't understand it
x-common: &common
  image: ghcr.io/myparcelnl/php-xd:7.4
  init: true

services:
  php:
    <<: *common
    volumes:
      - ./:/app
    command: [ 'composer','install' ]

  test:
    <<: *common
    volumes:
      - ./:/app
    command: [ 'composer', 'test:coverage' ]

  openapi-swagger-codegen:
    image: swaggerapi/swagger-codegen-cli-v3:3.0.57
    volumes:
      - type: bind
        source: ./
        target: /local
    command: >
      generate
      --resolve-fully
      --input-spec            https://api.myparcel.nl/openapi.yaml
      --lang                  php
      --output                /local/src/Services/CoreApi/Generated/Capabilities
      --additional-properties packageName=MyParcel\CoreApi\Generated\Capabilities,invokerPackage=MyParcel\CoreApi\Generated\Capabilities,modelPackage=Model,phpLegacySupport=false
    profiles: [ openapi ]
