# volumes are not in common, because phpstorm doesn't understand it
x-common: &common
  image: ghcr.io/myparcelnl/php-xd:7.4
  init: true

services:
  php:
    <<: *common
    volumes:
      - ./:/app
    command: ['composer', 'install']

  test:
    <<: *common
    volumes:
      - ./:/app
    command: ['composer', 'test:coverage']

  generate-api:
    image: openapitools/openapi-generator-cli:v7.12.0
    volumes:
      - type: bind
        source: ./
        target: /local
    command: >
      batch /local/openapi/coreapi.yaml /local/openapi/order.yaml /local/openapi/iam.yaml --includes-base-dir=/local/openapi --root-dir=/local
    profiles: [openapi]
