/*
 * The example_wrapper is only used as an example of the checkout
 */
.mypa-example_wrapper{
	width: 400px;
}
/*
 * Styling delivery options
 */

.mypa-time {
	margin-left: 5px;
}

#mypa-send-per-carrier {
	font-weight: bold;
	width: 100%;
	background-color: transparent;
}

#mypa-delivery-option-form fieldset, form, ul, li, select {
	padding: 0;
	margin: 0;
}

#mypa-delivery-option-form label {
	width: 66%;
}

#mypa-select-date {
	width:100%;
}

.mypa-error label {
	display: inline-block;
	width: 50%;
}

#mypa-pickup-location-selector li,
#mypa-delivery-option-form li {
	list-style-type: none;
	padding: 2px 0px 0px 0px;
}
#mypa-pickup-location-selector ul:last-child,
#mypa-delivery-option-form ul:last-child {
	margin-top: 10px;
}

#mypa-delivery-option-form {
	display: none;
}

#mypa-delivery-option-form label{
	display: inline-block;
	width: 80%;
	margin: 0;
}
#mypa-error-try-again{
	margin-top: 18px;
}

#mypa-delivery-selectors-be div {
	display: block;
	margin-top: 20px;
}

#mypa-delivery-selector li{
	margin: 15px 0 0;
	display: inline-block;
	width: 100%;
	padding: 5px 0px 2px 0px;
}

.mypa-help {
	color: black;
	text-decoration: none;
}

#mypa-shop-mock {
	margin-top: 500px;
	background-color: #ccc;
	width: 100%;
	margin-bottom: 25px;
}

.mypa-full-width {
	display: inline-block;
	width: 100%;
	margin-bottom: 1px;
	padding-bottom: 2px;
}
#mypa-pickup-location-selector li:nth-last-of-type(-n+2) {
	margin-left: 30px;
}

#mypa-pickup-location{
	width: calc(100% - 25px);
}

#mypa-location-details {
	padding: 20px;
	border: 1px solid black;
	border-radius: 3px;
	min-width: 300px;
	max-width: 400px;
	margin: 5px;
	display: none;
	background-color: white;
}

.mypa-pickup-location-details-location,
.mypa-pickup-location-details-phone,
.mypa-pickup-location-details-city,
.mypa-pickup-location-details-time  {
	margin-bottom: 5px;
	display: inline-block;
	width: 50%;
	float: left;
}
.mypa-openings-titel{
	width: 200px;
	height: auto;
}

.mypa-pickup-location-details-day {
	display: inline-block;
	width: 30%;
}

.mypa-extra-delivery-options-padding-top {
	padding-top: 10px;
}

.mypa-fa-clock {
	width: 16px;
	margin-bottom: -3px;
}

.mypa-fa-times{
	width: 16px;
	float: right;
}

.mypa-delivery-option-table {
	width: 100%;
}
.mypa-delivery-option-table tr td:first-child {
	white-space: nowrap;
	width: 20px;
}
.mypa-delivery-option input{
	width: 20px;
}
.mypa-delivery-option-table tr td:last-child {
	white-space: nowrap;
	vertical-align:top;
}
.mypa-postnl-logo{
	width: 100px;
	float: right;
	margin: 45px 8px 0 0;
}

.mypa-message-model {
	padding: 20px 0 20px 20px;
	border: 1px solid black;
	border-radius: 3px;
	min-width: 300px;
	max-width: 400px;
	margin: 5px;
	display: none;
	background-color: white;
}
#mypa-delivery-date-text{
	display: none;
}

#mypa-list-postnl-pickup option{
	padding: 5px 0px 5px 0px;
}
.mypa-bold-price{
	font-weight: bold;
}

#mypa-spinner-model {
	position: relative;
	display: table;
	margin: auto auto;
}

#mypa-spinner-model svg{
	position: absolute;
	top: 19%;
	left: 22%;
	width: 62%;
}

#mypa-spinner {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 90px;
	border-top: 3px solid #ff8c00;
	border-radius: 100%;
	border-top-color: #ff8c00;
	animation: mypa-spin 1.2s linear infinite;

}

@keyframes mypa-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 400px) {

	.mypa-delivery-option-table tr {
		height: 30px !important;
	}
	.mypa-postnl-logo{
		float: none;
		margin: 0 100% 0 0;

	}
	.mypa-extra-delivery-options-padding-top {
		padding: 15px 0px 10px 0px;
	}

	.mypa-pickup-location-details-location, .mypa-pickup-location-details-phone, .mypa-pickup-location-details-city, .mypa-pickup-location-details-time {
		width: 90%;
	}
}
