/* custom radio buttons */
.myparcel-radio-wrapper {
  text-align: center;
}
.myparcel-radio-container {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
}
.myparcel-radio {
  display: none;
}
.myparcel-radio + label {
  position: relative;
  margin-left: 27px;
}
.myparcel-radio + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  margin-left: -29px;
  margin-top: 0px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 50%;
  transition: border 0.15s ease-in-out 0s;
}
.myparcel-radio + label:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 14px;
  height: 14px;
  left: 3px;
  top: 3px;
  margin-left: -29px;
  margin-top: 0px;
  background-color: rgb(37, 185, 215);
  transform: scale(0, 0);
  border-radius: 50%;
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33) 0s;
}
.myparcel-radio:checked + label:after {
  transform: scale(1, 1);
}

.insurance-additional-container {
  display: none;
  margin: 0 20px;
}
.insurance-additional-container.insurance-active {
  display: block;
}
.insurance-additional-predefined {
  display: flex;
  justify-content: space-between;
}
.money-input-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.pointer-myparcel-labels label {
  width: 100%;
}
.modal .modal-title {
  display: inline-block;
}
.label-description-variables code {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  color: #fff;
}
.toggle-parent-field {
  border-top: 1px solid #dedede;
  padding-top: 15px;
}
#myparcel-order-panel.panel .panel-heading img,
#myparcel-order-panel.card .card-header-title img {
  height: 16px;
  width: 16px;
}
#myparcel-order-panel.panel .form-horizontal .control-label.text-left {
  text-align: left;
  padding-top: 0;
}
#myparcel-order-panel .panel-footer-wrapper {
  display: flex;
  justify-content: space-between;
}
#myparcel-order-panel .list-empty-msg i {
  font-size: 5rem;
}
.with-cutoff-time .checkbox {
  display: flex;
  align-items: center;
}
.with-cutoff-time .checkbox > label {
  flex: 0 1 150px;
}
.order-label-action .btn-group.open .dropdown-menu {
  left: auto;
  right: 0;
}
.order-label-action .btn-group.open .dropdown-menu .disabled {
  cursor: not-allowed;
  color: rgb(171, 171, 171);
  background-color: white;
}
.bootstrap .order-label-action .btn-group.open .dropdown-menu > li a.disabled:hover i {
  color: rgb(171, 171, 171);
}
#content.bootstrap #myparcel-order-panel .panel-heading .badge.badge-concept-date {
  font-size: 90%;
  color: #fff;
  letter-spacing: 0.0625em;
  background-color: rgb(0, 175, 240);
  border: none;
  padding: 1px 10px;
}
.bootstrap label.control-label.insurance-amount-custom {
  width: 100%;
  display: flex;
  align-items: center;
}
.concept-label-wrapper .insurance-amount-custom > span,
.concept-label-wrapper .insurance-amount-custom > div {
  padding-left: 4px;
}
.insurance-amount-custom .input-group {
  width: 100px;
}
td.ui-state-warning {
  background-color: #fbbb22;
}
td.ui-state-danger {
  background-color: #E08F95;
}
.datepicker-row {
  display: flex;
  flex-wrap: wrap;
}
.datepicker-row .datepicker-calendar {
  margin-bottom: 5px;
  margin-right: 10px;
}
.datepicker-row .datepicker-calendar .ui-datepicker-inline.ui-datepicker.ui-widget::before {
  display: none !important;
}
.datepicker-row .datepicker-exceptions {
  flex-grow: 1;
}
.delivery-options-span .material-icons {
  color: inherit;
  font-size: inherit;
}
