@font-face {
  font-family: 'Proxima Nova';
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-regular.woff") format("woff"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-light.woff") format("woff"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-bold.woff") format("woff"), url("https://assets.myparcel.nl/skin/fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
