{% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
    'id': 'modal',
    'title': 'Test modal',
    'closable': true,
    'actions': [{
        'type': 'button',
        'label': 'Update',
        'class': 'btn btn-primary btn-lg js-submit-modal-form-btn',
    }],
} %}
    {% block content %}
        <div class="modal-body">

            <form method="post" action="{{ path('admin_myparcel_orders_label_bulk_create') }}" data-bulk-inputs-id = "create_label_order_ids">
                <div id="create_label_order_ids" data-prototype="<input type=&quot;hidden&quot; id=&quot;create_label_order_ids___name__&quot; name=&quot;create_label[order_ids][__name__]&quot; required=&quot;required&quot; class=&quot;form-control&quot; />"></div>
            </form>
        </div>
    {% endblock %}
{% endembed %}
