{% embed 'PrestaShopBundle:Admin/Helpers:bootstrap_popup.html.twig' with {
    'id': 'print-modal',
    'title': 'Print label',
    'closable': true,
    'actions': [{
        'type': 'button',
        'label': 'Print',
        'class': 'btn btn-primary btn-lg single-print',
    }],
} %}
    {% block content %}
        <div class="modal-body">
            <form method="post" id="print-form" action="{{ path('admin_myparcelbe_order_label_download') }}">
                <input type="hidden" name="label_id" id="label_id" value="">
                {% include '@PrestaShop/Admin/Sell/Order/Order/Blocks/print_position_block.html.twig' %}
            </form>
        </div>
    {% endblock %}
{% endembed %}