<input id="a4" type="radio" value="a4" name="format">
<label for="a4">A4</label>
<input id="a6" type="radio" checked value="a6" name="format">
<label for="a6">A6</label>
<br>
<div class="positions-block">
    <label for="top-left">Top-left</label>
    <input id="top-left" type="checkbox" value="1" name="position[]">
    <br>
    <label for="top-right">Top-right</label>
    <input id="top-right" type="checkbox" value="2" name="position[]">
    <br>
    <label for="bottom-left">Bottom-left</label>
    <input id="bottom-left" type="checkbox" value="3" name="position[]">
    <br>
    <label for="bottom-right">Bottom-right</label>
    <input id="bottom-right" type="checkbox" value="4" name="position[]">
</div>