<button class="js-bulk-modal-form-submit-btn addLabel"
        type="button"
        data-modal-id = "modal" onclick="return false;"
        data-form-url="{{ path(action.options.submit_route) }}"
        data-form-method="POST" >
    {{ action.name }}
</button>