name: 'Run tests on pull request'

on:
  repository_dispatch:
    types: [ test-command ]

jobs:
  test:
    uses: myparcelnl/sdk/.github/workflows/test.yml@main
    with:
      ref: ${{ github.event.client_payload.pull_request.head.ref }}

  update-comment:
    runs-on: ubuntu-22.04
    needs: test
    steps:
      - uses: myparcelnl/actions/setup-app-credentials@v3
        id: credentials
        with:
          app-id: ${{ secrets.MYPARCEL_APP_ID }}
          private-key: ${{ secrets.MYPARCEL_APP_PRIVATE_KEY }}

      - uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ steps.credentials.outputs.token }}
          comment-id: ${{ github.event.client_payload.slash_command.args.named.comment-id }}
          reaction-type: rocket
