name: 'Dispatch command'

on:
  issue_comment:
    types: [ created ]

jobs:
  dispatch:
    runs-on: ubuntu-22.04
    if: github.event.issue.pull_request
    steps:
      - uses: myparcelnl/actions/setup-app-credentials@v3
        id: credentials
        with:
          app-id: ${{ secrets.MYPARCEL_APP_ID }}
          private-key: ${{ secrets.MYPARCEL_APP_PRIVATE_KEY }}

      - uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ steps.credentials.outputs.token }}
          commands: |
            rebase
            test
          permission: write
          issue-type: pull-request
          static-args: |
            comment-id=${{ github.event.comment.id }}
